
html, body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 760px;
    position: relative;
    min-width: 1200px;
}

::selection {
    background: #0090C5;
    color: #FFFFFF;
}

::-moz-selection {
    background: #0090C5;
    color: #FFFFFF;
}

ul {
    list-style: none;
}
